/************
*
* FONTS
*
*************/
//Google font import
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:300,600');

$font-family: 	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/************
*
* COLORS
*
*************/
$dark-gray:    #353239;
$off-black:    #2B292E;
$dark-blue: 	 #113743;
$white: 			 #ffffff;
$off-white:    #fafafa;
$red: 				 #89061c;
$aqua:         #00ffff;
$violet:       #ff00ff;
$blue:         #1f8abb;
$gray:         #ababab;

/************
*
* SPACING
*
*************/
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

/************
*
* BREAKPOINTS
*
*************/
$small 			: 39.955em;
$medium 		: 64em;
$large			: 86em;
$small-only 	: "max-width: 39.955em";
$small-up   	: "min-width: 39.96em";
$medium-up 	    : "min-width: 64.063em";
$large-up	    : "min-width: 86.063em";
$xlarge-up		: "min-width: 126.063em";

/************
*
* MIXINS
*
*************/
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transition-delay($delays...) {
	-webkit-transition-delay: $delays;
	-moz-transition-delay: $delays;
	-ms-transition-delay: $delays;
	-o-transition-delay: $delays;
	transition-delay: $delays;
}

@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	-ms-box-sizing: $val;
	box-sizing: $val;
}

@mixin linearGradient($deg, $color1, $color2) {
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient($deg,  $color1 0%, $color2 100%); /* FF3.6+ */
    background: -webkit-gradient($deg, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient($deg,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($deg,  $color1 0%,$color2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient($deg,  $color1 0%,$color2 100%); /* IE10+ */
    background: linear-gradient($deg,  $color1 0%,$color2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

