// Styles Reset
@import "normalize";

//variables and mixins
@import "settings";// Colors

/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 62.5%; 
}

body {
  background: $off-black;
  color: $off-white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem; 
}

/* Container */
.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size; 
}

/* Header */
.header {
  background-color: $blue;
  // @include linearGradient(20deg, $aqua, $violet);
  color: white;
  padding: $m-size 0; 
}

.header__title {
  font-size: $l-size;
  margin: .4rem 0 0; 
}

.header__subtitle {
  font-size: $m-size;
  font-weight: 300; 
  margin-bottom: .5rem; 
}

/* Actions Bar */
.actions {
  background-color: $dark-gray;
  padding: 1rem; 
  color: $white;
  font-weight: 300;
}

.actions__container {
  align-items: center;
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 3rem;
  padding: 0 $m-size;
  justify-content: space-between;
	@media screen and ($small-only) {
		padding: 0 1rem;
	}
}

/* Form Inputs */
.input {
  border: none;
  font-size: 1.6rem;
  font-weight: 300;
  height: 3.5rem;
  margin-right: .5rem;
  padding: .4rem .8rem; 
}

.input__add-todo {
  width: 30rem;
	@media screen and ($small-only) {
    width: 100%;
    margin-bottom: 1rem;
	}
}

.checkbox {
  display: flex;
  align-items: baseline; 
	@media screen and ($small-only) {
		align-items: center;
	}
}

.checkbox > input {
  margin-right: .4rem; 
	@media screen and ($small-only) {
		margin: .8rem;
	}
}

.button {
  cursor: pointer;
  background-color: $blue;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 2rem;
  transition: background .3s ease, color .3s ease; 
  &:hover {
    background: darken($blue, 5%); 
  }
}

.button--text {
  background: none;
  border: none;
  color: $white; 
  &:hover {
    background: none;
    text-decoration: underline; 
  }
}

.button__add-todo {
  letter-spacing: 1px;
	@media screen and ($small-only) {
		width: 100%;
    padding: 1.5rem 2rem;
	}
}

.list-title {
  margin: $l-size 0 $m-size;
  font-weight: 400; 
}

/* Todo List Item */
.list-item {
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
  background: $dark-gray;
  border: 1px solid lighten($dark-gray, 10%);
  margin: 0 0 1rem;
  padding: 1rem $m-size;
  display: block;
  transition: background .3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  &:last-of-type {
    margin-bottom: 2.6rem;
    @media screen and ($small-only) {
      margin-bottom: 3.6rem;
    }
  }
  .list-item__container {
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    align-items: baseline; 
  }
  .list-item__container > *:first-child {
    margin-right: .8rem; 
  }
  &:hover {
  background: lighten($dark-gray, 5%); 
  }
  &.completed {
    background: transparentize($white, .85);
    span {
      color: $gray;
      text-decoration: line-through; 
    }
  }
}

p.empty-message {
  margin: 4rem 0;
}

